.sty-img-country {
  
    width: 35px;
    height: 20px;
  
    position: absolute;
    top: 15px;
    left: 0px;
    margin-left: 10px;
    margin-right:25px;
}

.styl-cust {
    height: 53px;
}

.styl-progr{
   
   margin-left:28px;

}