.sty-img-cust {
     vertical-align: middle;
     width: 30px;
     height: 30px;
     border-radius: 50%;
     position:absolute;
     top:15px;
     left:0px;
     margin-left:10px;
}

.styl-cust{
     height: 53px;
}

.sty-name-cust{
      
      position:absolute;
      top:5px;
      left:45px;
      font-size:18px;

}

.sty-info-cust{
     margin-top:10px;
     position:absolute;
     left:45px;
     font-size:10px;
}

.list-customer{
     margin-top: 27px;
}